.navigation__logo {
    display: block;
}

.navigation__logo-image {
    width: 100%;
}

.navigation__list {
    list-style: none;
    display: flex;
    align-items: baseline;
}

.navigation__item {
    margin-right: 60px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation--footer {
    align-items: center;
}

.navigation--footer .navigation__logo {
    grid-column: span 2;
    padding-right: 56px;
}

.navigation--footer .navigation__list {
    grid-column: 3/-1;
}

.navigation--footer .navigation__link {
    color: var(--color-white);
}

.navigation--footer .navigation__link--active,
.navigation--footer .navigation__link:hover {
    color: var(--color-accent);
}

.navigation--header .navigation__logo {
    grid-column: span 4;
    padding-right: 32px;
}

.navigation--header .navigation__list {
    grid-column: 5/-1;
}

.navigation--header .navigation__link {
    color: var(--color-primary);
}

.navigation--header .navigation__link--active,
.navigation--header .navigation__link:hover {
    color: var(--color-accent);
}
